@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="Bad Weather" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    A basic demo project for playing around with .NET Core.
                </p>
            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome @(User.Identity.Name)!</h2>
        </div>
    </div>
}