<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h3>Choose a category from the menu above</h3>
    }
    else
    {
        <h3>You'll have to sign in to view any data.</h3>
    }
</div>

